$def with ()

  <div class="row">
   <div class="col-sm-4">
      <h3>测试模块</h3>
      <hr/>
      <p>usb</p>
      <p>sd卡</p>    
      <p>音频</p>
      <p>视频</p>
      <p>网络</p>
      <p>wifi</p>
      <p>led</p>
      <p>串口</p>
    </div>

    <div class="col-sm-4">
      <h3>测试要求</h3>
      <hr/>
      <p>pc </p>
      <p>ipcam 开发板</p>
      <p>交换机</p>
      <p>电源 </p>
      <p>android 手机</p>
      <p>360wifi</p>
    </div>
 
    <div class="col-sm-4">
     <h3>支持浏览器</h3>
      <hr/>
      <p>IE9 and above </p>
      <p>Firefox </p>
      <p>Chromium browser </p>
      <p>Opera </p>
    </div>
 </div>

