.footer{
  background-color: #fff;
}

.new {
  color: #FFF;
  background-color: #F13F40;
}

.keyword
{
  color: red;
  font-weight: bold;
  background-color: yellow;
}

#footer {
  background-color: #f5f5f5;
}
