.footer{
  position: absolute;
  width: 100%;
  bottom:0px;
}

.new {
  display: inline-block;
  padding: 2px;
  text-align: center;
  vertical-align: text-bottom;
  overflow: hidden;
  position: relative;
  right: -4px;
  top: -4px;
}
/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {

}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}
/* Go top */
#toTop {
  width: 55px;
  height: 55px;
  right: 60px;
  bottom:60px;
  display: none;
  cursor: pointer;
  position: fixed;
  background: url("../images/goTop.png"); 
}




